html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
	background-color: rgb(244, 244, 244);
  font-family: 'PT Sans', 'sans-serif';
    background-image: url('');
}
.container{
    display: grid;
	grid-template-columns: repeat(12, 1fr);
  
}

/*header*/

header {
    left: 25px;
    position: fixed;
    text-align: left;
    z-index: 999;
}
.headerr{
    grid-column: 1/3;
    grid-row: 1 / 100;
    background-color: rgb(199, 199, 199);
    border-right: 1px solid black;
}

.titre p {
    width: 100px;
    text-align: center;
    
}

.titre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 80px;
    height: 80px;
    color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.06em;
    border-color: black;
    text-align: center;
}

.logo{
    margin-top: 5vh;
    height: 15vh;
    width: 15vh;
}

nav {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.button {
    margin-top: 40px;
    margin-bottom: 40px;
}

nav a {
    margin-left: -0.5vw;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: red;
    transition: color 0.5s ease;
}

nav #prestations{
    position: relative;
}

nav #prestations .prestation{
    display: none;
    position: relative;
}

nav #prestations:hover .prestation{
    display: block;
    position: absolute;
    transform: translate(85%, -2rem);
    background-color: rgb(199, 199, 190);
    outline: 0.1rem solid;
}

nav #prestations .prestation div{
    padding: 1.1vw;
    position: relative;
}

/*pied de page*/

footer{
	display: flex;
	justify-content: center;
	grid-column: 3 / 13;
}

p{
	text-align: center;
	font-size:0.8em;
	margin-top:0.2em;
	margin-bottom:0.2em;
}

.info a{
    text-decoration: none;
    color: black;
}

.info a:hover{
    color:red;
    transition: color 0.5s ease;
}

.detail{
	display: flex;
	justify-content: center;
    align-items: flex-end;
    height: 12vh;
}

.detail a{
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    color: black;
    text-decoration: none;
    font-size:0.8em;

}

.detail a:hover{
    color: red;
    transition: color 0.5s ease;
}

/* Slider */

#slider {
    position: relative;
	    grid-column: 3 / 13;
	    height: 100vh;
    border-block-end: #606060;
	    border-spacing: 5px;

}
  
.slide {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    flex-direction: column;
    background-position: center center;
}
  
.fleche-gauche,
.fleche-droite {
    color: #606060;
    position: absolute;
    width: 20px;
    height: 50px;
    top: 50%;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
  
.fleche-gauche {
    left: 15px;
    color: rgb(210, 210, 210);
    font-size: 25px;
}
  
.fleche-droite {
    right: 15px;
    color: rgb(210, 210, 210);
    font-size: 25px;
}
  
.en-savoir-plus,
.fleche {
    text-decoration: none;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    color: rgb(210, 210, 210);
}

.fleche{
    padding-top: 11px;
    font-size: 30px;
}
.fleche:hover{
    color: #ffffff;
}

.slide .en-savoir-plus {
    opacity: inherit;
}
  
.slider-title {
    padding: 6px;
    letter-spacing: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    
}

.presta {
    grid-column: 3 / 11;
    grid-row-start: 4;
    background-color: rgb(234, 234, 234);
    text-align: center;
    letter-spacing: 2px;
}
/* description */

.description {
    margin-top: 9vh;
    margin-left: 3vw;
    margin-right: 3vw;
    grid-column: 3 / 13;
    height: 79vh;
    text-align: left;
}

.titre_desc {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: left;
}

.para1 {
    text-align: left;
}
/*Formulaire*/
.formulaire {
    height: 78vh;
    grid-column: 3 / 9;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 11vw;
}

.formulaire_presta {
    height: 78vh;
    grid-column: 4 / 11;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 11vw;
}

textarea {
    width: 32vw;
    height: 40vh;
    margin-top: 1vh;
}
    
.nom{
    margin-top: 5vh;
    display:inline-block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.nom input{
    padding: 0.5em;
    width: 15vw;
}
    
.objet{
    display:inline-block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.objet input{
    padding: 0.5em;
    width: 31.3vw;
}

.presta{
    display: flex;
    height: 1vh;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(244, 244, 244);
}

.presta label{
    display: inline-block;
    font-size: 0.65em;
    text-align: left;
    width: 15vw;
    height: 3.1vh;
    padding: 0.5em;
    outline: solid 0.1em rgb(191, 191, 191);
    background-color: white;
}

.presta input{
    display: inline-block;
    width: 15vw;
    padding: 0.5em;
}

.presta label input{
    border: none;
    font-size: 0.7rem;
    width: 6vw;
    padding: 0;
}
    
.email{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.email input{
    padding: 0.5em;
}

.message {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
    
.boutonenvoyer {
    grid-column: 4 / 6;
    height: 8vh;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-size: 1.3em;
    cursor: pointer;
    color: black; /* button text color */
    outline: none;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 0.0625em;
    padding: 8px 10px; 
    text-transform: uppercase;
    position: relative;
	text-decoration: none;
    overflow: hidden;
    transition: all .5s;
}

.boutonenvoyer:before,
.boutonenvoyer:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #3d3d3d; /* onhover background color */
  z-index: -1;
  transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
  transition: all .5s;
}

.boutonenvoyer:before{
  background: #ebebeb; /* button default background color */
  z-index: -2;
  transform: translate3D(0,0,0);
}

.boutonenvoyer:hover{
	color: white;
}

.boutonenvoyer:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}

.slidebottomleft:after{
    transform: translate3D(-100%,100%,0);
}
  
.slidebottomleft:hover:after{
      transform: translate3D(0,0,0);
    transition: all .5s;
}

.contacttitre{
    grid-column: 3 / 13;
    height: 8vh;
    text-align: center;
    margin-top: 2vh;
}

.infoscontact{
    grid-column: 9 /13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoscontact a{
	padding: 0.3em;
    color: black;
    text-decoration: none;

}

.infoscontact a:hover{
    color: red;
    transition: color 0.5s ease;
}

/*gallerie*/

#galeriecontent{
    grid-column: 3 / 14;
    margin: 1vw;
    column-count: 4;
    column-gap: 1em;
    overflow: hidden;
    height: 65vh;

}

#galeriecontent img{
      
    display: inline-block;
    margin:1vh;
    width: 100%;
    
}

.afficher{
    grid-column: 12 / 13; 
    height:6vh;
    margin-right: 2vw;
    border: 1px solid black;
    background-color: rgb(199, 199, 199);
    font-family: 'PT Sans', 'sans-serif';
    font-size: 0.8em;
    font-weight: bold;

}

.afficher:hover {
    color: red;
    transition: color 0.5s ease;
}

.galerie-art{ 
    grid-column: 3 / 14;
    margin: 1vw;
    column-count: 4;
    column-gap: 1em;

}

.galerie-art img{
    display: inline-block;
    margin:1vh;
    width: 100%;
    
}

/*description presta*/
.infopresta {
    grid-column: 3 / 14;
    display: flex;
    align-content: left;
    margin-left: 3vw;
}